<%= form_for(@finance) do |f| %>
  <% if @finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% @finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :procure_cost %><br>
    <%= f.number_field :procure_cost %>
  </div>
  <div class="field">
    <%= f.label :shipping_cost %><br>
    <%= f.number_field :shipping_cost %>
  </div>
  <div class="field">
    <%= f.label :pre_sale_notes %><br>
    <%= f.text_field :pre_sale_notes %>
  </div>
  <div class="field">
    <%= f.label :pre_sale_cost %><br>
    <%= f.number_field :pre_sale_cost %>
  </div>
  <div class="field">
    <%= f.label :buyer_pmt %><br>
    <%= f.number_field :buyer_pmt %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.text_field :item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
