<p id="notice"><%= notice %></p>

<h1>Listing Finances</h1>

<table>
  <thead>
    <tr>
      <th>Procure cost</th>
      <th>Shipping cost</th>
      <th>Pre-sale notes</th>
      <th>Pre-sale cost</th>
      <th>Buyer pmt</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= finance.procure_cost %></td>
        <td><%= finance.shipping_cost %></td>
        <td><%= finance.pre-sale_notes %></td>
        <td><%= finance.pre-sale_cost %></td>
        <td><%= finance.buyer_pmt %></td>
        <td><%= finance.item %></td>
        <td><%= link_to 'Show', finance %></td>
        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
        <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finance', new_finance_path %>
