<p id="notice"><%= notice %></p>

<p>
  <strong>Procure cost:</strong>
  <%= @finance.procure_cost %>
</p>

<p>
  <strong>Shipping cost:</strong>
  <%= @finance.shipping_cost %>
</p>

<p>
  <strong>Pre-sale notes:</strong>
  <%= @finance.pre_sale_notes %>
</p>

<p>
  <strong>Pre-sale cost:</strong>
  <%= @finance.pre_sale_cost %>
</p>

<p>
  <strong>Buyer pmt:</strong>
  <%= @finance.buyer_pmt %>
</p>

<p>
  <strong>Item:</strong>
  <%= @finance.item.description %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
