

<div class="login">
  <section class="shadow">
  <%= image_tag("thriftory_logo.png", class:"logo", :alt => "logo", width: '500', height:'300') %>

  <%= form_tag login_path, class: "form-signin" do %>
    <h3 class="form-signin-heading">Please sign in</h3>

    <label for="inputEmail" class="sr-only"></label>
    <%= text_field_tag :email, '', class: 'form-control', id: 'inputEmail', placeholder: 'Email Address', required: true %>

    <%= label_tag 'Password', '', class: 'sr-only' %>
    <%= password_field_tag :password, '', class: 'form-control', id: 'inputPassword', placeholder: 'Password', required: true %>

    <%= submit_tag "Sign In", class: 'btn btn-lg btn-warning btn-block' %>
  <% end %>

    <p>To view the demo data, please use:</p>
      <table id="legend" width="300" border="1">
        <tr><td width="150"><center>Email</center></td><td width="150"><center>Password</center></td></tr>
        <tr><td width="150"><center>jd@example.com</td><td width="150"><center>password</td></tr>
      </table>
    <br>
    <p><em>Disclaimer: Putting passwords on a login page is usually a bad idea.</em></p>
  </section>
</div>
New user? <em><%= link_to('Create an account', new_user_path) %></em>
