<div class="container">
  <h1>Sources + Vendors</h1>
  <table class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Date</th>
          <th>Address</th>
          <th>Type</th>
          <th>Distance from Home</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% mileage = [] %>
        <% @sources.each do |source| %>
          <tr>
            <td><%= source.id %></td>
            <td><%= source.name %></td>
            <td><%= source.date.strftime("%B %d, %Y") %></td>
            <td><%= source.address %></td>
            <td><%= source.type_of %></td>
            <td class="distance"><%= source.distance_from_user(@user) %></td>
            <td><%= link_to 'Edit', edit_source_path(source) %></td>
            <td><%= link_to 'Delete', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% mileage << source.distance_from_user(@user) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </table>
<div class="col-md-3">
  <%= link_to 'Add a New Source', new_source_path, class: 'btn btn-warning' %>
</div>
<div class="col-md-3 col-md-offset-6">
  <h3> Total mileage: <%= mileage.reduce(:+).round(2) %>
</div>
