<%= form_for(@subcat2) do |f| %>
  <% if @subcat2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcat2.errors.count, "error") %> prohibited this subcat2 from being saved:</h2>

      <ul>
      <% @subcat2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subcat1_id %><br>
    <%= f.text_field :subcat1_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
