<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcat2.name %>
</p>

<p>
  <strong>Subcat1:</strong>
  <%= @subcat2.subcat1.name %>
</p>

<%= link_to 'Edit', edit_subcat2_path(@subcat2) %> |
<%= link_to 'Back', subcat2s_path %>
