
<section class="home_page">
  <%= link_to image_tag("saletag.png", class:"logo", :alt => "logo", height:'200', width: '200') %>

  <h3>Welcome to Thriftory, the thrifter's inventory app.</h3>
  <h4>Enjoy the thrill of the find <em>and </em>piece of mind with Thriftory!</p>
    <p>With Thriftory, you can track your inventory from the moment it's picked.
      Enter your favorite vendors, upload multiple photos for any item, capture
      income and expenses, even track mileage for tax purposes.
    </p>
  <% unless @inventory.nil? %>
  <div class="icons">
    <span class="glyphicon glyphicon-tag" aria-hidden="true"><%= link_to "Last Item", item_path(Item.last) %></span>
    <span class="glyphicon glyphicon-list" aria-hidden="true"><%= link_to "View All", items_path %></span>
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"><%= link_to "Enter New", items_path %></span>
    <span class="glyphicon glyphicon-signal" aria-hidden="true"><%= link_to "Stats", items_path %></span>
  </div>
  <% else %>
    <span class="glyphicon glyphicon-list" aria-hidden="true"><%= link_to "Start your inventory", new_item_path %></span>
  <% end %>
</section>
