<%= form_for(@subcat1) do |f| %>
  <% if @subcat1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcat1.errors.count, "error") %> prohibited this subcat1 from being saved:</h2>

      <ul>
      <% @subcat1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
