<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcat1.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcat1.category.name %>
</p>

<%= link_to 'Edit', edit_subcat1_path(@subcat1) %> |
<%= link_to 'Back', subcat1s_path %>
