<div class="col-md-12 col-md-offset-1">
    <%= form_for(@item) do |f| %>
      <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %>
            prohibited this item from being saved:</h2>

          <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-3">
          <div class="field">
            <%= f.select :category_id,
              options_from_collection_for_select(@categories, :id, :name, (@item.subcat2.subcat1.category.id if @item.persisted?) ), { prompt: 'Select a Category'}, { id: 'categories_select', class: "form-control" } %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="field">
            <%= f.select :subcat1_id,
              options_from_collection_for_select(@subcat1s, :id, :name, (@item.subcat2.subcat1.id if @item.persisted?) ), { prompt: 'Select 1st Subcategory'}, { id: 'subcat1s_select', class: "form-control" } %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="field">
            <%= f.select :subcat2_id,
              options_from_collection_for_select(@subcat2s, :id, :name, (@item.subcat2.id if @item.persisted?) ), { prompt: 'Select 2nd Subcategory'}, { id: 'subcat2s_select', class: "form-control" } %>
          </div>
        </div><!--col-->
      </div> <!--row-->
      <div class="row">
        <div class="col-md-9 description_box">
          <div class="field">
            <%= f.label :description %><br>
            <%= f.text_area :description, rows: 4, class: "form-control" %>
          </div>
        </div>
      </div>
    <!--third row 3 items-->
      <div class="row">
        <div class="col-md-1">
          <div class="field">
            <%= f.label :quantity %><br>
            <%= f.number_field :quantity, min: 0, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="field">
            <%= f.label :storage_loc %><br>
            <%= f.text_field :storage_loc, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="field">
            <%= f.label :source_id %><br>
            <%= f.select :source_id,
              options_from_collection_for_select(@sources, :id, :name), { prompt: 'Select a Source'}, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="field">
            <%= f.label :shipping_paid_by? %><br>
            <%= f.text_field :shipping, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="field">
            <%= f.label :status %><br>
            <%= f.text_field :status, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="field">
            <%= f.label :condition %><br>
            <%= f.text_field :condition, class: "form-control" %>
          </div>
        </div>
      </div>

    <!--is parent of p so f.fields iterates over all p and f.submit captures all p -->
      <div class="row">
        <%= f.fields_for :finances do |p| %>
        <!--so as not to create a new record, pass in id of edited -->
        <%= p.hidden_field :id, value: p.object.id %>
          <div class="col-md-2">
            <div class="field">
              <%= p.label :procure_cost %><br>
              <%= p.text_field :procure_cost, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="field">
              <%= p.label :pre_sale_cost %><br>
              <%= p.text_field :pre_sale_cost, class: "form-control" %>
            </div>
          </div>

            <!--edit form only -->
          <div class="col-md-2">
            <div class="field">
              <%= p.label :shipping_cost %><br>
              <%= p.text_field :shipping_cost, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="field">
              <%= p.label :buyer_pmt %><br>
              <%= p.text_field :buyer_pmt, class: "form-control" %>
            </div>
          </div>
        <% end %>
      </div><!--row-->
      <br>
      <div class="actions">
        <%= f.submit class: 'btn btn-md btn-warning box-shadow--8dp' %>
      </div>
    <% end %>
</div>
