
<div class= container>
  <%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %>
          prohibited this item from being saved:</h2>

        <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= collection_select(@item, :category_id,  @categories,  :id, :name,
      {:prompt   => "Select a Category"}, {:id => 'categories_select'}) %>
    </div>
    <div>
      <%= collection_select(@item, :subcat1_id, @subcat1s, :id, :name,
      {:prompt   => "Select 1st SubCategory"}, {:id => 'subcat1s_select'}) %>
    </div>
    <div>
      <%= collection_select(@item, :subcat2_id, @subcat2s, :id, :name,
      {:prompt   => "Select 2nd SubCategory"}, {:id => 'subcat2s_select'}) %>
    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, rows: 2 %>
    </div>
    <div class="field">
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity %>
    </div>
    <div class="field">
      <%= f.label :shipping %><br>
      <%= f.text_field :shipping %>
    </div>
    <div class="field">
      <%= f.label :storage_loc %><br>
      <%= f.text_field :storage_loc %>
    </div>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :condition %><br>
      <%= f.text_field :condition %>
    </div>
    <div class="field">
      <%= f.label :source_id %><br>
      <%= f.text_field :source_id %>
    </div>
    <div class="field">
      <%= f.label :photo %><br>
      <%= f.attachment_field :photo %>
    </div>

    <%= f.fields_for :finances do |p| %>
      <div class="field">
        <%= p.label :procure_cost %><br>
        <%= p.text_field :procure_cost, placeholder:"Procurement cost", class: "form-control" %>
      </div>
      <div class="field">
        <%= p.label :shipping_cost %><br>
        <%= p.text_field :shipping_cost, placeholder:"Shipping paid", class: "form-control" %>
      </div>
      <div class="field">
        <%= p.label :pre_sale_cost %><br>
        <%= p.text_field :pre_sale_cost, placeholder:"Pre-sale cost total", class: "form-control" %>
      </div>
      <div class="field">
        <%= p.label :buyer_pmt %><br>
        <%= p.text_field :buyer_pmt, placeholder:"Buyer Pmt", class: "form-control" %>
      </div>
    <% end %>


    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
