<div class="container">
  <div class="edititem_header">
    <h1>Editing Item # <%= params[:id]%> <%= @item.description %></h1><br>
  </div>

  <%= render 'form' %>
  <div class="show_back_buttons">
    <h4>
      <br>
      <%= link_to 'Show', @item %> |
      <%= link_to 'Back to inventory', items_path %>
    </h5>
  </div>
</div>
