<div class="container">
    <h1>Editing Item # <%= params[:id]%> <%= @item.description %></h1><br>

  <%= render 'form' %>

  <div class="show_back_buttons">
    <h5>
      <br>
      <%= link_to 'Show', @item %> |
      <%= link_to 'Back to inventory', items_path %>
    </h5>
  </div>
</div>
