<!-- Item show-->

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Storage loc:</strong>
  <%= @item.storage_loc %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>
<p>
  <strong>Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Buyer Pmt:</strong>
  <% @item.finances.each do |finance| %>
  <%= finance.buyer_pmt %>
  <% end %>
</p>

<p>
  <strong>Source:</strong>
  <%= @item.source.name %>
</p>
<p>
  <% if @item.status.downcase == "sold" %>
  <strong>Shipping:</strong>
  <%= @item.shipping %>

  <% @item.finances.each do |finance| %>
    <% if @item.shipping.downcase == "free" %>
    <strong>Shipping paid:</strong>
    <%= finance.shipping_cost %>
    <strong>Sold for : $</strong>
    <%= finance.buyer_pmt %>
    <% end %>
    <% end %>
  <% end %>
</p>

<p> Click on a photo to view or delete it. Each photo show page has delete link. Remove link for see larger.
  <strong>Picture:</strong>
  <%= image_tag attachment_url(@item.photos.last, :image, :fill, 30, 30, format: :jpg) %>
  <%= link_to 'See larger', @item.photos.last %>
</p>
<div class='photos'>
  <% @item.photos.each do |photo| %>
    <%= link_to photo do %>
      <%= image_tag attachment_url(photo, :image, :fill, 100, 100, format: :jpg) %>
    <% end %>
  <% end %>
</div>
<%= link_to 'Add photos', new_photo_path(item_id: params[:id]) %> |
<%= link_to 'Destroy', item_path(@item), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
