
<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Storage loc:</strong>
  <%= @item.storage_loc %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>
<p>
  <strong>Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Buyer Pmt:</strong>
  <% @item.finances.each do |finance| %>
  <%= finance.buyer_pmt %>
  <% end %>
</p>

<p>
  <strong>Source:</strong>
  <%= @item.source.name %>
</p>
<p>
  <% if @item.status == "sold" %>
  <strong>Shipping:</strong>
  <%= @item.shipping %>
  <strong>Sold for : $</strong>
  <% end %>
</p>

  <strong>Picture:</strong>
  <%= @item.photo %>
</p>

<%= link_to 'Destroy', item_path(@item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
