  <%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="photo_for_item">
    <div class="field">
      <h4><strong>Add a photo for </strong><%= @item.description %></h4>
    </div>
    <div class="field">
      <%= f.hidden_field :item_id, value: @item.id %>
      <p><%= f.label "Image upload" %></p><br>
      <%= f.attachment_field :image, direct: true %>
      <!--immediate file upload, don't wait for submit -->
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-md btn-warning'%>
  </div>
  <% end %>
