<p>
  <strong>Photo:</strong>
  <%= @photo.id %>
  <%= image_tag attachment_url(@photo, :image, :fill, 900, 300, format: :png) %>
</p>

<p>
  <strong>Item:</strong>
  <%= @photo.item.description %>
</p>

<%= link_to 'Delete', photo_path(@photo), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
