<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Category name" %><br>
    <%= f.text_field :name %>
    <p> new categories trigger creation of subcats</p>
  </div>

    <%= f.fields_for :subcat1s do |p| %>
      <div class="field">
        <%= p.label "Subcategory 1 name" %><br>
        <%= p.text_field :name %>
      </div>
    <% end %>

    


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
