<div class="container" id="category_index">
  <div class="row category_icon">
    <div class="col-md-2 col-md-offset-2">
      <%= link_to items_category_path(1) do %>
      <%= image_tag 'couch.png', height: 100, width: 100  %>
      <h3>Furniture</h3>
      <% end %>
    </div>

    <div class="col-md-2">
      <%= link_to items_category_path(2) do %>
        <%= image_tag 'shirt.png', height: 100, width: 100 %>
        <h3>Clothing</h3>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to items_category_path(3) do %>
        <%= image_tag 'bowl.png', height: 100, width: 100 %>
        <h3>Household + Decor</h3>
      <% end %>
    </div>

    <div class="col-md-2">
      <%= link_to items_category_path(4) do %>
        <%= image_tag 'question_mark.png', height: 100, width: 100 %>
        <h3>Other</h3>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <p>Choose a category to view</p>
  <div class="row">
    <div class="col-md-2">
      <%= link_to 'Create a New Category', new_category_path, class: 'btn
      btn-md btn-warning btn-block box-shadow--8dp' %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Search inventory', items_path, class: 'btn btn-md btn-warning
       btn-block box-shadow--8dp' %>
    </div>
  </div>
</div>
