<div class="container" id="category_index">
  <h2>Choose a category to view</h2>
  <div class="row">
    <div class="col-md-2">
      <%= link_to items_category_path(1) do %>
      <%= image_tag 'sofa', height: '200', width: '200' %>
      <h3>Furniture</h3>
      <% end %>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <%= link_to items_category_path(2) do %>
      <%= image_tag 'clothes', height: '200', width: '200' %>
      <h3>Clothing</h3>
      <% end %>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <%= link_to items_category_path(3) do %>
      <%= image_tag 'vase', height: '200', width: '200' %>
      <h3>Household + Decor</h3>
      <% end %>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <%= link_to items_category_path(4) do %>
      <%= image_tag 'sofa', height: '200', width: '200' %>
      <h3>Other</h3>
      <% end %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-3">
      <%= link_to 'View all Items in inventory', items_path, class: "btn btn-default" %>
    </div>
    <div class="col-md-3 col-md-offset-6">
      <%= link_to 'Create a New Category', new_category_path, class: "btn btn-default" %>
    </div>
  </div>
</div>


<!-- Justin's code
<div class="container">
  <h3>Choose a category to search</h3>
      <% Category.all.each do |category| %>
        <%# link_to "#{category.name} (#{category.id})", items_category_path(category) %>
      <% end %>
    </div>
  </div>
  <%# link_to 'Create a New Category', new_category_path, class: "btn btn-default" %>
  <%# link_to 'View all Items in inventory', items_path,class: "btn btn-default" %>
</div> -->
