
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 header">
      <h1><%= @category.name %> Items</h1>
    </div>
  </div>
  <% @category_items.each_slice(3) do |row| %>
    <div class="row">
      <% row.each.with_index do |catitem, index| %>
        <%= link_to item_path(catitem) do %>
            <!--if first item in row, don't add offset -->
            <div class="col-md-3 col-md-offset-<%= index.zero? ? '0' : '1' %>" id="itemblock">
            <div class="photo">
              <%= image_tag attachment_url(catitem.photos.first, :image, :fill, 250, 250, format: :jpg) %>
            </div>
            <div class="photobody">
              <p><%= catitem.description.titleize %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div> 

<%= will_paginate @category_items, renderer: BootstrapPagination::Rails if @category_items.count < 9 %>
