<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Stats#index</h1>
Nav bar at top
Logo to the right, link to Home


<h1>Today's Stats</h1>

<h2> <%= Time.now.strftime("%B %d, %Y") %></h2>
<h3> Total items in inventory: <%= @inventory %> </h3>
<h3> Total items added this week: <%= total_week_items %> </h3>


<p> Items by status</p>
<%= pie_chart Item.group(:status).count %>
<p> Items by condition</p>
<%= pie_chart Item.group(:condition).count %>

<p>Total payments received: <%= Finance.sum("buyer_pmt") %> </p>
<p>Total expenses: <%= Finance.all.map { |finance| finance.item_total_outlay }.sum %> </p>

<% if Finance.all.map { |finance| finance.buyer_pmt }.sum > Finance.sum_total_outlay
 %>
<%= "You are in the black!" %>
<% else %>
<%= "oof, expenses exceed profits. Go make a sale." %>
<% end %>
