<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<p>Logo to the right, link to Home</p>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Stats for <%= Time.now.strftime("%B %d, %Y") %></h4>
      </div>
      <div class="modal-body">
        <h3> Total items in inventory: <%= @inventory %> </h3>
        <h3> Total items added this week: <%= total_week_items %> </h3>
        <h3> Something else </h3>
      </div>
    </div>
  </div>
</div>

<p> Items by status</p>
<%= pie_chart Item.group(:status).count %>
<p> Items by condition</p>
<%= pie_chart Item.group(:condition).count %>

<!--make this interactive? -->
<p>Total payments received: <%= Finance.sum("buyer_pmt") %> </p>
<p>Total expenses: <%= Finance.all.map { |finance| finance.item_total_outlay }.sum %> </p>

<!-- BUYER PMT IS NIL? <p>Value per category</p>
<%# Hash[Category.all.map(&:finances).map { |fin_array| fin_array.map(&:buyer_pmt).sum
}.map.with_index { |amt, index| [Category.find(index + 1).name, amt] }] %><br> -->


<%= Category.find(4).finances.map{ |f| f.procure_cost }.sum %>


<% if Finance.total_profit? %>
<%= "You are in the black!" %>
<% else %>
<%= "oof, expenses exceed profits. Go make a sale." %>
<% end %>
