<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Thriftory <br> Stats for <%= Time.now.strftime("%B %d, %Y") %></h2>
      </div>
      <div class="modal-body">
        <% if @inventory %>
        <h3> Total items in inventory: <%= @inventory %> </h3>
        <h3> Total items added this week: <%= @total_week_items %> </h3>
        <h3> <% if @moneyin > @moneyout %>
        <%= "PROFITABLE!" %>
          <% else %>
          <%= "Yikes! Expenses exceed profits; Go make a sale." %>
          <% end %> </h3>
        <% else %>
        <h4> Sorry, you have no inventory to report. </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container" id="stats_page">
  <div class="row chart_block">
    <div class="col-med-6">
      <h3>Expense vs Revenue</h3>
      <%= bar_chart({
        "Income" => @moneyin,
        "Expenses" => @moneyout
          })%>
    </div>
  </div>
  <div class="row chart_block" >
    <div class="col-md-6">
        <%= pie_chart @items.group(:status).count %>
        <h3> Items by status</h3>
    </div>
    <div class="col-md-6">
        <%= pie_chart @items.group(:condition).count %>
        <h3> Items by condition</h3>
    </div>
  </div>

<!--these need to be corrected for current_user -->
  <div class="row chart_block">
    <div class="col-md-6">
        <%= bar_chart(@payment_by_category) %>
        <h3> Income by category <h3>
    </div>
    <div class="col-md-6">
      <%= bar_chart({
      "Furniture" => @furniture_expense,
       "Clothing" => @clothing_expense,
       "Household & Decor" => @household_expense,
       "Other" => @other_expense }) %>
         <h3>Expense by category</h3>
    </div>
  </div>
</div>
