<!DOCTYPE html>
<html>
<head>
  <title>Thriftory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= react_component("Navigation") %>
<% if user_logged_in? %>
<%= current_user.username %> is logged in.
<% end %>

<%= yield %>

</body>
</html>
