<!DOCTYPE html>
<html>
  <head>
    <title>Thriftory</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <!-- Google analytics code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73546108-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <% unless controller_name == "sessions" || controller_name == "homes" %>
      <%= react_component("Navigation") %>
    </div>
    <% end %>
    <% unless controller_name == "sessions" %>
      <% if notice || alert %>
        <p class="notice"><%= notice %></p>     <p class="alert"><%= alert %></p>
        <% end %>
        <% end %>

    <%= yield %>
    <div class="bodyborder"></div>
  </body>
</html>
